.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 10px;
  }

#navbarItemHome,
#navbarItemNotifications,
#navbarItemDropdown,
#navbarItemQuestions,
#navbarItemLogout,
#navbarItemProfile,
#navbarItemAnswers {
    color: black;
    font-size: 16px;
}

#navbarItemHome:hover,
#navbarItemNotifications:hover,
#navbarItemDropdown:hover,
#navbarItemQuestions:hover,
#navbarItemLogout:hover,
#navbarItemProfile:hover,
#navbarItemAnswers:hover {
    font-weight: bold;
}

 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    background: rgb(202, 205, 207);
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 5px;
    font-weight: normal;
 }

 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
    background: rgb(202, 205, 207);
    border-radius: 6px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 5px;
    font-weight: normal;
}

 #askifyLogoNameImg {
     padding-right: 5px; 
 }

 .selectedSection {
    display: block;
  }
  
  .notSelectedSection {
    display: none;
  }

  .card-img-top {
      width:100%;
      max-width: 250px;
      margin-bottom: 10px;
      border-radius: 6px;
      box-shadow: 6px 6px grey; 
     }

  #analyticsGrid,
  #cardGrid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .flat-butt {
    width: 100%;
    display: block;
    margin: 0 5px;
    margin-left:0px;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    padding: 12px 20px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
  }
  .flat-butt:hover {
    background: #005580;
  }

  .flat-info-butt {
    background: #3498db;
  }
  .flat-info-butt:hover {
    background: #5dade2;
  }
  .flat-inner-butt {
    padding: 9px 0px;
    box-shadow: inset #2C3E50 -3px -3px 0px;
  }
  .flat-info-inner-butt {
    box-shadow: inset #2980B9 -3px -3px 0px;
  }

  .flat-primary-butt {
    background: #1abc9c;
  }
  .flat-primary-butt:hover {
    background: #2fe2bf;
  }
  .flat-primary-inner-butt {
    background: #1ABC9C;
    box-shadow: inset #16A085 -3px -3px 0px;
  }

  .modal {
    text-align: center;
    padding: 0!important;
 }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    box-shadow: 12px 12px;
    -moz-box-shadow: 12px 12px;
    -webkit-box-shadow: 12px 12px ;
    -o-box-shadow: 12px 12px;
    border-radius:10px;
  }

  #askModalTitle {
      color: grey;
      width: 90%;
      margin: 12px 8px;
      margin-bottom: 0px;
  }

  #cancelQuestion {
    color: grey;
    margin: 12px 8px;
  }

  #helpQuestion {
    color: rgb(145, 143, 143);
    font-size: 12.5px;
  }

  #cancelQuestion:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #questionTextArea {
    width: 90%;
    margin: 12px 8px;
  }

  .form-control {
    outline: none;
    font-size: 25px;
    resize: none;
    border-style: none; 
    border-color: Transparent; 
    border-bottom: 2px solid black;
    overflow: auto;   
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: none !important;
    border-radius: 0;
  }

  #sendQuestion {
      display: inline-block;
      width: 25%;
  }

  .introQuestion {
      margin-bottom: 0px;
  }

  #visitedPanelHeading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background: rgb(202, 205, 207);
    margin: 15px 8px;
    box-shadow: 5px 5px grey;
    }

  #favoritePanelHeading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background: rgb(202, 205, 207);
    margin: 15px 8px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 5px 5px grey;
    }

  #highestPanelHeading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background: rgb(202, 205, 207);
    margin: 15px 8px;
    box-shadow: 5px 5px grey;
    }

  .affix {
    top: 20px;
    z-index: 9999 !important;
  }

  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }

  .cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    #analyticsGrid{
      width: 100%;
    }
  }
